<div style="margin: 20px;">
    <a href="/">Home</a> |
    <a href="#" onclick="setView('overview'); return false;">Overview</a> |
    <a href="#" onclick="setView('young'); return false;">Young Generation</a> |
    <a href="#" onclick="setView('old'); return false;">Old Generation</a>

    <p>
    <b>Resolution:</b>
    <a href="#" onclick="setResolution(10); return false;">10s</a> |
    <a href="#" onclick="setResolution(60); return false;">1 mintue</a> |
    <a href="#" onclick="setResolution(5 * 60); return false;">5 minutes</a>
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: "/data/<%= @name %>",
            success: function(data) {
                setRawData(data);
                setView('overview')
            }
        });
    });
</script>

<div id="charts">
</div>
